<%= error_messages_for 'upload_form' %>

<div class="box">
  <p>
    <label for="upload_form_title">
      <%= l(:label_title_required) %>
      <span class="required">*</span>
    </label>
    <%= text_field 'upload_form', 'title', :size => 60 %>
  </p>
  <p>
    <label for="upload_form_multiple_uploads">
      <%= l(:label_multiple_uploads) %> 
    </label>
    <%= check_box 'upload_form', 'multiple_uploads', :disabled => !!@disable_multiple_uploads %>
  </p>

  <p>
    <label for="upload_form_description">
      <%= l(:field_description) %>
    </label>
    <%= text_area 'upload_form', 'description', :cols => 60, :rows => 15, :class => 'wiki-edit' %>
  </p>
</div>

<%= wikitoolbar_for 'upload_form_description' %>

